.polygon {
  position: absolute;
  top: -10;
  z-index: -10;
  height: 600px;
  width: 100vw;
  background: rgb(2, 19, 33);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 45%);
  display: flex;
  margin-top: 0;
  overflow: hidden;
}
.polygonDark {
  position: absolute;
  top: -10;
  z-index: -10;
  height: 600px;
  width: 100vw;
  background: rgb(1, 16, 50);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 45%);
  display: flex;
  margin-top: 0;

  overflow: hidden;
}
